// $beige: #DEDEDC;

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Poppins&display=swap');


$light-main: #E3C5AB;
$dark-main: #535966;
$dark-text: #353535;
$light-text: #E2D6CC;

$github: #6e5494;
$medium: #000;
$twitter: #55acee;
$linkedin: #0077B5;


$title: 'Hind Siliguri', sans-serif;
$body: 'Poppins', sans-serif;

body {
  font-family: $title;
  background-color: $light-main;
}

p {
  font-family: $body;
}

.wrapper {
  max-width: 1300px;
  width: 80%;
  margin: 0 auto;
}

* {
  transition: all .3s;
}