.projects {
  
  width: 80%;
  margin: 0 auto;
  .project1,
  .project2 {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      height: 200px;
      filter: grayscale(100%);
      border: 7px solid grey;
    }
    img:hover{
      filter: grayscale(0);
    }
    div {
      width: 60%;
    }
  }
  .project2 {
    flex-direction: row-reverse;
  }

  a {
    text-decoration: none;
    width: 20px;
    height: 5px;
    background-color: $light-text;
    color: $dark-text;
    border: 2px solid $dark-main;
    border-radius: 10%;
    padding: 0 10px;
    margin: 0 5px;
  }
}