/* Juno's edit/remix of normalize.css */
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Poppins&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Hind Siliguri", sans-serif;
  background-color: #E3C5AB;
}

p {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  max-width: 1300px;
  width: 80%;
  margin: 0 auto;
}

* {
  -webkit-transition: all .3s;
  transition: all .3s;
}

header {
  position: relative;
  height: 100vh;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 10vh;
}

header nav .menu {
  padding: 0;
  margin: 0;
  width: 94%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

header nav a {
  text-decoration: none;
  font-family: "Hind Siliguri", sans-serif;
  color: #353535;
}

header .theme {
  padding: 0.7rem;
  position: fixed;
  background-color: #535966;
  color: #E3C5AB;
  border: none;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  top: 0;
  right: 0;
  border-radius: 50%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 1rem;
  z-index: 3;
}

header .theme:hover {
  opacity: 0.5;
}

header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90vh;
  position: relative;
}

header .title h1, header .title p {
  position: relative;
  color: #353535;
  text-align: left;
  width: 50%;
}

header .title .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  left: 2rem;
}

header .title .social > * {
  margin: 5px 0;
  color: #353535;
  font-size: 1.2rem;
}

header .title .social .fa-github:hover,
header .title .social .fa-github:focus {
  color: #6e5494;
}

header .title .social .fa-medium-m:hover,
header .title .social .fa-medium-m:focus {
  color: #000;
}

header .title .social .fa-twitter:hover,
header .title .social .fa-twitter:focus {
  color: #55acee;
}

header .title .social .fa-linkedin-in:hover,
header .title .social .fa-linkedin-in:focus {
  color: #0077B5;
}

header::before {
  content: "";
  background-image: url("../assets/mike-yukhtenko-zuueig1w8WI-unsplash.jpg"), url("../assets/mike-yukhtenko-a2kD4b0KK4s-unsplash.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -3;
  opacity: 0.4;
}

.dark header h1, .dark header p {
  color: #E2D6CC;
}

.dark header .theme {
  background-color: #E3C5AB;
  color: #535966;
}

.dark header .social > * {
  color: #E2D6CC;
}

.dark header::before {
  background-image: url("../assets/mike-yukhtenko-a2kD4b0KK4s-unsplash.jpg");
  -webkit-filter: grayscale(40%);
          filter: grayscale(40%);
  opacity: 1;
}

.skills ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 20px;
  margin: 0 auto;
  list-style: none;
  width: 80%;
  padding: 0;
}

.skills li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.skills li i {
  font-size: 5rem;
}

.skills li p {
  position: relative;
  text-transform: uppercase;
  opacity: 0;
  top: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.skills li:hover .devicon-html5-plain,
.skills li:focus .devicon-html5-plain {
  color: #f16529;
}

.skills li:hover .devicon-css3-plain,
.skills li:focus .devicon-css3-plain {
  color: #2965f1;
}

.skills li:hover .devicon-javascript-plain,
.skills li:focus .devicon-javascript-plain {
  color: #f7df1e;
}

.skills li:hover .devicon-react-original,
.skills li:focus .devicon-react-original {
  color: #16caf7;
}

.skills li:hover .devicon-sass-original,
.skills li:focus .devicon-sass-original {
  color: #CD6799;
}

.skills li:hover .devicon-github-original,
.skills li:focus .devicon-github-original {
  color: #6e5494;
}

.skills li:hover .devicon-git-plain,
.skills li:focus .devicon-git-plain {
  color: #F1502F;
}

.skills li:hover .devicon-firebase-plain,
.skills li:focus .devicon-firebase-plain {
  color: #FFA611;
}

.skills li:hover p,
.skills li:focus p {
  opacity: 1;
  top: 0;
}

.dark {
  background-color: #535966;
}

.dark .skills li {
  color: #E2D6CC;
}

.projects {
  width: 80%;
  margin: 0 auto;
}

.projects .project1,
.projects .project2 {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .project1 img,
.projects .project2 img {
  height: 200px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  border: 7px solid grey;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.projects .project1 img:hover,
.projects .project2 img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  border: 5px solid grey;
}

.projects .project1 div,
.projects .project2 div {
  width: 60%;
}

.projects .project2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
/*# sourceMappingURL=styles.css.map */